<header class="header-3">
  <div class="branding">
    <a class="nav-link">
      <clr-icon shape="shield"></clr-icon>
      <span class="title">{{ title }}</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="/" routerLinkActive="active" class="nav-link nav-icon"
      ><clr-icon shape="home"></clr-icon
    ></a>
  </div>
  <div *ngIf="isSignedIn" class="header-actions">
    <clr-dropdown class="dropdown bottom-right">
      <button class="nav-icon" clrDropdownToggle>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <div class="dropdown-menu">
        <a
          [routerLink]="['account/profile']"
          routerLinkActive="active"
          clrDropdownItem
          >Profile</a
        >
        <a (click)="onLogout()" clrDropdownItem>Logout</a>
      </div>
    </clr-dropdown>
  </div>
  <div *ngIf="!isSignedIn" class="header-actions">
    <a routerLink="login" routerLinkActive="active" class="nav-link nav-text"
      ><span>Log in</span></a
    >
    <a
      routerLink="account/register"
      routerLinkActive="active"
      class="nav-link nav-text"
      ><span>Sign up</span></a
    >
  </div>
</header>
