<div class="clr-row">
  <div class="clr-col-12"><h1>Create an account</h1></div>
</div>
<form [formGroup]="signupForm" (ngSubmit)="onSignup()" clrForm>
  <clr-input-container>
    <label>Username</label>
    <input
      clrInput
      type="text"
      formControlName="username"
      name="Username"
      id="username"
    />
    <clr-control-error>
      <div *clrIfError="'required'">
        Username is required.
      </div></clr-control-error
    >
  </clr-input-container>
  <clr-input-container>
    <label>Email</label>
    <input
      clrInput
      type="text"
      formControlName="email"
      name="Email"
      id="email"
    />
    <clr-control-error>
      <div *clrIfError="'required'">
        Email is required.
      </div>
      <div *clrIfError="'email'">
        Incorrect Email.
      </div></clr-control-error
    >
  </clr-input-container>
  <clr-password-container>
    <label>Password</label>
    <input
      clrPassword
      type="text"
      formControlName="password"
      name="password"
      id="password"
    />
    <clr-control-error>
      <div *clrIfError="'required'">
        Password is required.
      </div>
      <div *clrIfError="'minlength'">
        Password must be at least 8 characters long.
      </div></clr-control-error
    >
  </clr-password-container>
  <clr-password-container>
    <label>Confirm password</label>
    <input
      clrPassword
      type="text"
      formControlName="confirmedPassword"
      name="confirmedPassword"
      id="confirmedPassword"
    />
    <clr-control-error>
      <div *clrIfError="'required'">
        Confirmed password is required.
      </div>
      <div *clrIfError="'match'">
        Passwords must match.
      </div></clr-control-error
    >
  </clr-password-container>
  <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">
    Create account
  </button>
</form>
<div>
  Have an account? <a routerLink="/login" routerLinkActive="active">Sign in</a>
</div>
