<div class="card">
  <div class="card-header">
    {{ offre.title }}
  </div>
  <div class="card-img">
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      [alt]="offre.title"
    />
  </div>
  <div class="card-block">
    <div class="card-title">{{ offre.category }}</div>
    <div class="card-text">
      <div>{{ offre.city }}</div>
      <div>{{ offre.creationDate | date }}</div>
    </div>
  </div>
  <div class="card-footer">
    <button (click)="onClickView(offre.id)" mat-button>En savoir plus</button>
  </div>
</div>
