<div class="card">
  <div class="card-header">
    {{ offre.title }}
  </div>
  <div class="card-img">
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      [alt]="offre.title"
    />
  </div>
  <div class="card-block">
    <div class="card-title">{{ offre.category }}</div>
    <div class="card-text">
      <p>{{ offre.city }}</p>
      <p>{{ offre.creationDate }}</p>
    </div>
  </div>
  <div class="card-footer">
    <button mat-button>En savoir plus</button>
  </div>
</div>
