<div class="clr-row">
  <div class="clr-col-12"><h1>Change password</h1></div>
</div>
<ng-container *ngIf="user">
  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="onChangePassword()"
    clrForm
  >
    <input clrInput type="hidden" formControlName="id" name="id" id="id" />
    <clr-password-container>
      <label>New password</label>
      <input
        clrPassword
        type="text"
        formControlName="newPassword"
        name="newPassword"
        id="newPassword"
      />
    </clr-password-container>
    <clr-password-container>
      <label>Confirm password</label>
      <input
        clrPassword
        type="text"
        formControlName="confirmedPassword"
        name="confirmedPassword"
        id="confirmedPassword"
      />
    </clr-password-container>
    <button class="btn btn-primary" type="submit">Save changes</button>
    <button class="btn" type="button" (click)="onCancel()">Cancel</button>
  </form>
</ng-container>
