<div class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login">
    <section class="title">
      <h3 class="welcome">Login page</h3>
    </section>
    <div class="login-group">
      <clr-input-container>
        <input
          type="text"
          name="email"
          formControlName="email"
          clrInput
          placeholder="Email"
        />
        <clr-control-error>
          <div *clrIfError="'required'">
            Email is required.
          </div>
          <div *clrIfError="'email'">
            Incorrect Email.
          </div></clr-control-error
        >
      </clr-input-container>
      <clr-password-container>
        <input
          type="password"
          name="password"
          formControlName="password"
          clrPassword
          placeholder="Password"
        />
        <clr-control-error>
          <div *clrIfError="'required'">
            Password is required.
          </div>
          <div *clrIfError="'minlength'">
            Password must be at least 8 characters long.
          </div></clr-control-error
        >
      </clr-password-container>
      <div *ngIf="invalidCredentials" class="error active">
        Invalid user name or password
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </div>
    <div>
      <div>Vous n'avez pas de compte ?</div>
      <a routerLink="/account/register" class="btn">
        Sign up
      </a>
    </div>
  </form>
</div>
